<h1>Welcome to Top News</h1>
<h2>Liked Articles</h2>
<table class="striped highlight">
<thead>
    <th>Title</th>\
    <th>Author</th>
    <th>Likes</th>
    <th>Like?</th>
</thead>
<% for article in @articles %>
    
        <tr class="<%= cycle('dg_list_line_odd', 'dg_list_line_even') %>">

        <td><%= link_to article.title, article_path(article.article_id) %></td>
        
        <td><%= article.author %></td>

        <% article.user_articles %>
        <td> <%if !article.user_articles&.present?%>
            <%= 0 %>
            <%else%>  
            <%= article.user_articles.map { |ua| ua.user }.count  %>
        <% end -%> </td>

        <td> <%if !(current_user in article.user_articles)%>
            <%= link_to 'like',like_path(id:article.article_id), method: :patch%>
            <%else%>  
            <%= link_to 'deactivate',unlike_path(id:article.article_id), method: :patch%>
        <% end -%> </td>
        

        <td class="align_center">
        
        </tr>
     <% end %>
</table>
