<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to("Home", root_path, class: "nav-link active") %>
        </li>
        <li class="nav-item">
          <%= link_to("Favorites", favorites_path, class: "nav-link") %>
        </li>
      </ul>
      <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-secondary" %>
    </div>
  </div>
</nav>

<div class="container">
  <h1 class="centered">Welcome to Top News</h1>

  <div class="card">
    <ul class="list-group list-group-flush">
      <% @posts.each do |post| %>
          <li class="list-group-item">
            <div class="card-body">
              <h5 class="card-title">
              <%= post.url.nil? ? link_to(post.title, "https://news.ycombinator.com/item?id=#{post.hacker_news_post_id}") : link_to(post.title, post.url) %>
              </h5>
              <p class="card-text">
                <%= post.score %> <%= post.score.to_i == 1 ? "point" : "points" %> by 
                <%= post.by %> 
                <%= time_ago_in_words(post.time) %> ago
              </p>
              <%= link_to("Favorite", favorites_path(user_id: current_user.id, post_id: post.id), method: :post, class: "btn btn-primary") %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
